<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" href="assets/images/icon.png" type="image/png" />
  <title>CineFlix</title>
  <link
    href="https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900"
    rel="stylesheet"
  />
</head>
<body>
  <!-- #BANNER SECTION -->
  <!-- <section class="banner mx-4">
    <div class="mx-6">
      <img src="./assets/images/John-Wick-3.jpg" class="mx-4" alt="" />

      <div class="card-content">
        <div class="card-info">
          <div class="genre">
            <ion-icon name="film"></ion-icon>
            <span>Action/Thriller</span>
          </div>

          <div class="year">
            <ion-icon name="calendar"></ion-icon>
            <span>2019</span>
          </div>

          <div class="duration">
            <ion-icon name="time"></ion-icon>
            <span>2h 11m</span>
          </div>

          <div class="quality">4K</div>
        </div>

        <h2 class="card-title">John Wick: Chapter 3 - Parabellum</h2>
      </div>
    </div>
  </section> -->

  <!-- MOVIE CARD SECTION -->

  <div class="flex flex-wrap space-x-3 space-y-2 justify-center">
    <div></div>
    <div
      class="bg-red-400 w-72 m-2 rounded-md"
      *ngFor="let item of movieData"
      routerLink="/movie-details"
      [queryParams]="{ movieDetailsId: item.id }"
    >
      <div class="">
        <img
          src="https://image.tmdb.org/t/p/original/{{ item.poster_path }}"
          alt=""
          class="h-96 rounded-md w-80"
        />

        <div class="flex justify-between">
          <div class="font-sans mx-3">
            <span>{{ item.vote_average }}</span>
          </div>

          <div class="mx-3">
            <span class="">{{ item.release_date.split("-")[0] }}</span>
          </div>
        </div>
      </div>

      <div class="">
        <div class="font-serif text-lg">{{ item.original_title }}</div>
        <div class="font-serif text-lg">{{ item.id }}</div>
      </div>
    </div>
  </div>
</body>
