<head>
  <!-- Bootstrap CSS -->
</head>
<body>
  <div class="flex my-7 bg-slate-200">
    <div>
      <img
        src="./assets/images/movies/BestLogoistInTheWorld.png"
        alt="hello"
        class="h-24 w-32 ml-3"
      />
    </div>
    <div class="ml-7 font-serif text-xl text-cyan-600 mt-4 w-32">
      The Movie Engine
    </div>
    <div class="mt-6 w-3/5">
      <input
        type="text"
        class="form-control p-2.5"
        [(ngModel)]="query"
        (keyup)="onSearchChange($event)"
        placeholder="Search here..."
      />
    </div>
  </div>
  <div *ngIf="query == ''" class="bg-white">
    <owl-carousel-o [options]="customOptions">
      <ng-container *ngFor="let slide of dynamicSlides" class="">
        <ng-template carouselSlide [id]="slide.id">
          <a
            href="https://movie-engine-01.herokuapp.com/movie-details?movieDetailsId={{
              slide.movieId
            }}"
          >
            <img
              [src]="slide.src"
              [alt]="slide.alt"
              [title]="slide.title"
              class="h-96"
            />
          </a>
        </ng-template>
      </ng-container>
    </owl-carousel-o>
    <!-- <section class="banner mx-4">
      <div class="mx-6">
        <img src="./assets/images/John-Wick-3.jpg" class="mx-4" alt="" />

        <div class="card-content">
          <div class="card-info">
            <div class="genre">
              <span>Action/Thriller</span>
            </div>

            <div class="year">
              <span>2019</span>
            </div>

            <div class="duration">
              <span>2h 11m</span>
            </div>

            <div class="quality">4K</div>
          </div>

          <h2 class="card-title">John Wick: Chapter 3 - Parabellum</h2>
        </div>
      </div>
    </section> -->
    <div class="flex justify-center">
      <div class="font-serif text-5xl text-cyan-600">Trending Now</div>
    </div>
    <div class="flex flex-wrap ml-28">
      <div></div>
      <div
        class="w-1/5 m-4 rounded-md"
        *ngFor="
          let item of movieData
            | paginate
              : {
                  itemsPerPage: 20,
                  currentPage: current_page,
                  totalItems: total_items
                }
        "
        routerLink="/movie-details"
        [queryParams]="{ movieDetailsId: item.id }"
      >
        <div class="relative">
          <img
            src="https://image.tmdb.org/t/p/w500/{{ item.poster_path }}"
            alt=""
            class="h-56 rounded-md w-96 z-0"
          />

          <div
            class="font-sans text-white z-10 bg-red-700 absolute p-1 top-1 text-lg"
          >
            {{ item.vote_average }}
          </div>

          <!-- <div class="mx-3">
              <span class="">{{ item.release_date.split("-")[0] }}</span>
            </div> -->
        </div>

        <!-- <div class="">
        <div class="font-serif text-lg">{{ item.original_title }}</div>
        <div class="font-serif text-lg text-black">{{ item.id }}</div>
      </div> -->
      </div>
    </div>
    <div class="grid justify-items-center mt-6">
      <div class="">
        <pagination-controls
          previousLabel="Prev"
          nextLabel="Next"
          (pageChange)="handlePageChange($event)"
        >
        </pagination-controls>
      </div>
    </div>
  </div>
  <app-movie-search
    *ngIf="query != ''"
    [msgFromParent]="query"
  ></app-movie-search>
</body>
